/* Opinionations Custom Theme */

body {
	background: #3454d1;
	font-family: 'Lato', sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	text-transform: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.reveal .app-logo {
	vertical-align: middle;
	line-height: 189px;
}

.app-logo .logo-bg {
	color: #667edc;
}

.app-logo .logo-back {
	color: #3454D1;
}